<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zero07.rssb">

    <uses-permission android:name="android.permission.WAKE_LOCCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"
        tools:node="remove" /> <!-- //    For MoPub SDK v5.17 or older -->
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data android:scheme="*" />
        </intent>
    </queries>

    <application
        android:label="@string/app_name"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RSSBShabad"
        android:usesCleartextTraffic="true">
        <!-- <activity -->
        <!-- android:name="com.tapdaq.sdk.TMTestActivity" -->
        <!-- android:configChanges="orientation|screenSize" /> -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/original_admob_app_id" />
        <meta-data
            android:name="applovin.sdk.key"
            android:value="uJGKcduHLZNJST8v74DfiXhrk0M_6pMQJoTbVkT_-5Uui_tIa5CeSQUZe0OfiJ1v_PKghZDZ-FXrMXTmmOMPBz" />

        <activity
            android:name="com.facebook.ads.AudienceNetworkActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".activity.AddPostActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.SignupActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.SocialPostActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".AdsActivity"></activity>
        <activity
            android:name=".activity.PdfViewerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FirstScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SplashScreenActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".StoryUploadActivity" />
        <activity
            android:name=".activity.WebViewActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ShabadUploadActivity"></activity>
        <activity
            android:name=".activity.PhotoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BookActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.StoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SatsangActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ShabadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <!--
Set custom default icon. This is used when no icon is set for incoming notification messages.
See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/app_icon_transp_50" />
        <!--
Set color used with incoming notification messages. This is used when no color is set for the incoming
notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <!-- <meta-data -->
        <!-- android:name="com.google.firebase.messaging.default_notification_color" -->
        <!-- android:resource="@color/off_white_red" /> -->
        <!-- <meta-data -->
        <!-- android:name="com.google.firebase.messaging.default_notification_channel_id" -->
        <!-- android:value="Daily Quotes"/> -->
        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>